#root {
  margin: 0 auto;
  text-align: center;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 2.5em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #0088cc80);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

